.item{
    display: flex;
    padding: 8rem 15rem;
    justify-content: center;
    gap: 0 3rem;
}



.item--image{
    width: 500px;
}

.item__container{
    display: flex;
    width: 50%;
    gap: 1.4rem 0;
    flex-direction: column;
    justify-content: center;
}

.item__container--p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}


.item__container--btn{
    padding: .6rem 3rem;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}